/* ===================== Universal Css ========================= */
body{
	font-family: Arial, Helvetica, sans-serif !important;
}


/*========================== CSS HeaderPacient.php ================================ */

.navbar-header {
	background-color: #2b96cc;
	font-family: "Aral", sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 21px;
}

.logout-text, .header-welcome,
.user-edit-nav {
	color: #fff;
	font-size: 20px !important;
}

.logout-text:hover {
	color: #f90023;
	transition-property: color;
	transition-duration: 0.5s;
	transition-delay: 0.1s;
}

.header-welcome:hover {
	color: #4db3e7;
	transition-property: color;
	transition-duration: 0.3s;
	transition-delay: 0.1s;
}

.edit-user-nav:hover {
	color: #4db3e7 !important;
}

 .divisor-nav {
	border-right: 1.5px solid #fff;
	height: 25px;
	margin-top: 12px;

}


/* ========================== Show Pacient Evolution =================================== */

.pacient-discription {
	width: 100.20%;
	height: auto;
	margin-left: -0.3px;
	margin-bottom: 12px;
	padding-top: 3px;
}
.rtf-evo, p, span{
	margin-bottom: -6.5px;
	font-size: 15px;
}

/* ============================== PacientFilter.php =============================== */


.div-principal-filtrar-paciente {
	margin-top: 160px;
	background-color: #e8f0fe;
}

.btn-filtrar-paciente {
	margin-top: 20px;
	margin-left: -20px;
}

.label-filtrar-paciente {
	font-weight: 600;
	margin-right: 10px;
}

.paciente-nome-filtrar-titulo {
	font-weight: 600;
}

/* =================================== Header Resume Evolutions =================== */
.pacient-header-input-width {
	margin-right: 10px;
	margin-left: 10px;
	width: 20%;
}

.exibir-resumo {
    white-space: pre;
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    unicode-bidi: embed;
    color: #000000 !important;
    font-size: 75%;
    padding: 0;
    margin: 0;
}

.input-pacient-names{
	font-weight: 800;
	text-align: center;
	font-size: 13px;
	width: 350px;
	text-align: left;
}

.input-pacient {
	font-weight: 800;
	text-align: center;
	font-size: 13px;
	text-align: left;
}

.botoes-imprimir-evolucao{
	
	margin-top: -30px;
}


