/* ===================== Universal Css ========================= */

.exibir-resumo {
    white-space: pre;
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    unicode-bidi: embed;
    color: #000000 !important;
    font-size: 75%;
    padding: 0;
    margin: 0;
}

.input-pacient-names{
	font-weight: 800;
	text-align: center;
	font-size: 13px;
	width: 350px;
	text-align: left;
}

.input-pacient {
	font-weight: 800;
	text-align: center;
	font-size: 13px;
	text-align: left;
}

.botoes-imprimir-evolucao{
	margin-left: 10px;
	margin-top: -30px;
}



/*========================== CSS Header.php ================================ */

.navbar-header {
	background-color: #2b96cc;
	font-family: "Aral", sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 21px;
}

ul, li, a, .logout-text {
	color: #fff;
}

ul, li, a, .logout-text:hover {
	color: #f90023;
	transition-property: color;
	transition-duration: 0.5s;
	transition-delay: 0.1s;
}

ul, li, span {
	color: #fff;
}

ul, li, span:hover {
	color: #4db3e7;
	transition-property: color;
	transition-duration: 0.3s;
	transition-delay: 0.1s;
}

.edit-user-nav:hover {
	color: #4db3e7 !important;
}

 .divisor-nav {
	border-right: 1.5px solid #fff;
	height: 25px;
	margin-top: 12px;

}

.user-edit-nav {
	color: #fff !important;
}


/* ========================== Prontuary.php =================================== */

/* SECTION DADOS PACIENTE */

.font-pacient-type, .body-filtrar-paciente {
	font-family: Arial, Helvetica, sans-serif !important;
}

.pacient-group{


}


.pacient-discription {
	width: 101.5%;
	height: auto;
	margin-left: -9.5px;
	padding-left: 10px;
	padding-top: 3px;
	
}

/* ============================== PacientFilter.php =============================== */


.div-principal-filtrar-paciente {
	margin-top: 160px;
	background-color: #e8f0fe;
}

.btn-filtrar-paciente {
	margin-top: 20px;
	margin-left: -20px;
}

.label-filtrar-paciente {
	font-weight: 600;
	margin-right: 10px;
}

.paciente-nome-filtrar-titulo {
	font-weight: 600;
}


/*======================= FindProntuary.php ==================================== */
